html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Ensure content container fills the remaining space */
  #content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  /* Style the footer */
  .Footer {
    margin-top: 0;
    width: 100%;
    background-color: #3f51b5;
    color: white;
  }

  .posts{
    margin:auto;
  }